= form_for (@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
      - @product.errors.full_messages.each do |message|
        %li
          = message
  .blog-post-area
    .form-group.col-md-4
      =image_tag attachment_url(@product, :product_image, :fill, 300, 300, format: "jpg")
    .form-group.col-md-8
      .single-blog-post.form-group.col-md-6
        %h3
          = f.label :title, "Product Title:"
        = f.text_field :title, class: "form-control"
      .single-blog-post.form-group.col-md-6
        %h3
          = f.label :price, "Product Price:"
        = f.text_field :price, class: "form-control"
      .single-blog-post.form-group.col-md-6
        %h3
          = f.label :category_id, "Product Category:"
        = f.select :category_id, Category.all.collect {|p| [ p.name, p.id ] }, class: "form-control"
    .single-blog-post.form-group.col-md-12
      %h3
        = f.label :description, "Product Description:"
      = f.text_area :description, class: "form-control"

    .form-group.col-md-6
      = f.attachment_field :product_image, class: "form-control"
    .form-group.col-md-6
      = f.submit class: "btn btn-info pull-right"